<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="testng_all">
    <classes>
      <class name="automationFramework.testCreateOrgSuite"/>
      <class name="automationFramework.smokeTestEntity"/>
      <class name="automationFramework.startupPortalSmokeTest"/>
      <class name="automationFramework.dilutionCalculator"/>
      <class name="automationFramework.createTransaction"/>
      <class name="automationFramework.inviteParticipantToTransaction"/>
    </classes>
  </test> <!-- testng_all -->
</suite> <!-- Suite -->
